body{
	background-color: black;
	color: white;
}
#container{
	background-color: red;
	border: 2px black solid;
	width: 80%;
	margin: auto;
	overflow: hidden;
}
.left{
	float: left;
	background-color: blue;
}
.right{
	float: right;
	background-color: green;
}